article {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 30px 50px;
}
.foto {
  width: 100%;
}
.title {
  margin-bottom: 20px;
  font-size: 1.2em;
}
.bold {
  font-weight: bold;
}
.titolo {
  font-size: 2em;
  margin-top: 80px;
}

@media only screen and (max-width: 768px) {
  article {
    flex-direction: column-reverse;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
}
