.card {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #612406;
  gap: 20px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}
.miele {
  object-fit: cover;
  border-radius: 25% 25% 0 0;
}
.bio {
  font-weight: bold;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.button {
  background-color: #f3df85;
  padding: 0.5em 2em;
  border-radius: 15px;
  width: 30%;
  align-self: center;
  text-align: center;
}
