@import "reset";
@import "font";
@import "colori";

.container {
  display: block;
  margin: 0 auto;
  width: 90%;
}
body,
a {
  color: map-get($colori, testo);
  font-family: $font-family;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
}
header {
  background-color: map-get($colori, bg_hero);
}
h1 {
  color: #28064f;
  font-size: 5em;
  font-weight: bold;
}
.hero {
  height: 500px;
  position: relative;
}
.approfondisci {
  background-color: map-get($colori, btn1);
}
.accedi {
  background-color: map-get($colori, btn2);
}
.contattaci {
  background-color: map-get($colori, btn3);
}
.main-pc {
  border-radius: 5%;
  position: absolute;
  top: 120px;
  left: 900px;
}
