/* IMPOSTAZIONI GENERALI */

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/sfondo.png);
}
.container {
  max-width: 500px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #00889e;
  color: #fff;
  text-transform: uppercase;
  padding: 2em;
  text-align: center;
  box-sizing: border-box;
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header p {
  margin: 2em;
}
header a {
  text-decoration: none;
  color: #fff;
}
/* MAIN */
main {
  background-color: #fff;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  line-height: 1.7;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1em;
}
main .autore {
  opacity: 0.5;
}
main p {
  margin-bottom: 1em;
}
main strong,
footer a {
  color: #aa2072;
  font-weight: 600;
}
main a {
  color: #00889e;
  font-weight: 600;
}
code {
  background-color: #eeeeee;
  border: 1px solid #a19e9e;
  border-radius: 7px;
}
.secondary-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  opacity: 0.9;
}
/* ELEMENTI NEL MAIN - ARTICLE */
ul li {
  list-style-type: disc;
  list-style-position: inside;
}
ol li {
  list-style-type: decimal;
  list-style-position: inside;
}

/* TABELLE */
caption {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
}
thead tr th {
  background-color: #3469c5;
  color: #fff;
  border: 1px solid #fff;
}
thead tr th,
td {
  padding: 1em 2em;
}
tr:nth-child(even) {
  background-color: #eeeeee;
}
table {
  border-bottom: 3px solid #3469c5;
  margin-bottom: 2em;
}
iframe {
  width: 100%;
  border-radius: 2em;
}
/* FORM */
input {
  border: none;
  padding: 0.5em;
  border-bottom: 1px dashed black;
}
button {
  padding: 0.5em;
  border: none;
  background-color: #3469c5;
  color: #fff;
  font-weight: bold;
}
/* ELEMENTI NELL' ASIDE */
aside div,
section {
  background-color: #e3e5e6;
  padding: 1em;
  margin: 0.5em;
  border: 2px solid #cccccc;
}
.date {
  text-align: right;
}
/* FOOTER */
footer {
  padding: 1em;
  line-height: 1.5;
  text-align: center;
  background: rgb(45, 51, 55);
  background: linear-gradient(
    0deg,
    rgba(45, 51, 55, 1) 25%,
    rgba(0, 85, 102, 1) 75%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #fff;
}
