/* IMPOSTAZIONI GENERALI */

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/sfondo.png);
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
/* HEADER */
header {
  background-color: #00889e;
  color: #fff;
  text-transform: uppercase;
  padding: 2em;
  text-align: center;
  box-sizing: border-box;
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header p {
  margin: 2em;
}
header a {
  text-decoration: none;
  color: #fff;
}
/* MAIN */
main {
  background-color: #fff;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
main strong,
footer a {
  color: #aa2072;
  font-weight: 600;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  background: rgb(45, 51, 55);
  background: linear-gradient(
    0deg,
    rgba(45, 51, 55, 1) 25%,
    rgba(0, 85, 102, 1) 75%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
