<form
[ngClass]="{'alert':true, 'alert-success' : todo.completed, 'alert-danger' : !todo.completed}"
role="alert" class="my-3">
  <div class="d-flex gap-4 align-items-start ">
    <input type="checkbox" class="mt-3"   [checked]="todo.completed" [checked]="todo.completed" (change)="toggleTodo()"

    >
    <div>
      <label class="fs-4 fw-bold">{{todo.todo}}</label>
      <div class="d-flex">Assigned to:  <p class="fst-italic ms-2"> {{user?.firstName}} {{user?.lastName}}</p></div>
    </div>
  </div>
</form>
