body {
  text-align: center;
}
header {
  color: #185958;
}
header img {
  padding-bottom: 1em;
}
header div {
  border-top: 2px solid #fcd774;

  padding: 1em;
  font-size: 1.5em;
}
header span {
  text-transform: uppercase;
  font-weight: bolder;
}
main {
  width: 50%;
  margin-inline: auto;
}
.container,
.description {
  text-align: left;
}
h1 {
  font-size: 2em;
}
h2 {
  border-bottom: 2px solid #c1f2f1;
  padding-bottom: 1em;
}
main img {
  border-radius: 1em;
  box-shadow: 10px 10px 40px 0px rgba(7, 5, 20, 0.2);
  margin: 1em;
}
blockquote {
  opacity: 0.5;
}

article {
  border-left: 2px solid #fcd774;
}
article div {
  color: #b04e1f;
  text-transform: uppercase;
  font-weight: bold;
}
a {
  color: #087373;
}
article div a {
  text-transform: capitalize;
}
