.badge {
  width: 20%;
  border: 5px solid #01a0c6;
  outline: 5px solid #a12572;
}
nav li {
  display: inline;
}
section h2 {
  font-size: 1.2em;
  background-color: #a3a3a3;
  text-transform: capitalize;
}
@media screen and (min-width: 320px) {
  body {
    font-size: 1em;
  }

  header div img {
    max-width: 50%;
    margin: 0 auto;
  }

  iframe {
    height: 100px;
  }

  section p {
    font-size: 0.9em;
  }

  input,
  button {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 1.4em;
  }

  .badge {
    width: 10%;
    border: 3px solid #01a0c6;
    outline: 3px solid #a12572;
  }
  h1 {
    width: 80%;
    font-size: 3em;
    line-height: 1;
  }
  h2 {
    font-weight: bold;
  }
  table {
    text-align: center;
    margin: 5em auto;
  }
  input,
  button {
    font-size: 0.5em;
  }
  input {
    width: 70%;
    padding: 1em;
  }
  button {
    padding: 1em 2em;
  }
}
@media screen and (min-width: 1200px) {
  body {
    margin: 0 5em;
    font-size: 2em;
  }
  header {
    flex-direction: row;
    text-align: left;
  }

  header div {
    display: inline-flex;
  }
  nav {
    display: inline;
    text-align: right;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-weight: bold;
  }
  .badge {
    width: 5%;
  }
}
table {
  margin: 5em auto;
  width: 70%;
}
.container {
  width: 100%;
}

.articoli div {
  display: inline-block;
  width: 33%;
}
.responsive {
  display: flex;
  margin: 0 auto;
}
.inline {
  display: flex;
  flex-direction: row;
}
iframe {
  width: 50%;
  height: 400px;
}
section {
  border-radius: 15px;
  width: 50%;
  font-size: 1.5em;
  height: 400px;
}
input,
button {
  padding: 1em 2em;
}
footer {
  font-size: 1em;
}

@media print {
  body {
    font-weight: 4em;
    letter-spacing: 1px;
  }
  .badge {
    display: inline-flex;
    width: 5%;
  }
  header,
  footer,
  .responsive,
  .articoli {
    display: none;
  }
}
