@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variabili";

.diventaneropls {
  background-color: $bg-color;
  color: $text-color;
}
.netflix-logo {
  width: 100px;
}
header {
  font-weight: bold;
}
.avatar {
  width: 30px;
}
.tv-shows {
  font-size: 2.5em;
  font-weight: bold;
}
.title {
  font-weight: bold;
  opacity: 0.8;
  font-size: 1.6em;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-footer {
  font-size: 12px;
}
.gigio {
  width: 150px;
}
.edit {
  font-size: 3em;
}
.fit {
  max-width: 600px;
  margin: 0 auto;
}
.profile {
  .profile-title {
    font-size: 1.5em;
  }
}
