@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  display: block;
  margin: 0 auto;
  width: 80%;
}
header {
  background-color: #ffc017;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 90px;
  width: 100%;

  background-color: #ffc017;
  border-bottom: 1px solid #000;
  position: fixed;
  z-index: 2;
}
.nav-content {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.nav-links a:not(.button) {
  color: #000;
  margin-left: 20px;
}
.button {
  margin-left: 30px;
  font-size: 1.1em;
  padding: 8px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 100em;
}
main {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  background-color: #ffc017;
  border-bottom: 1px solid #000;
  z-index: 1;
  height: 500px;
  width: 100%;
}
.container-content {
  display: flex;
  justify-content: space-between;
}

.title-subtitle {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
h1 {
  margin-top: 100px;
  font-size: 120px;
  font-family: "spectral", sans serif;
}

.subtitle {
  width: 80%;
  font-size: 22px;
}

.reading {
  padding: 17px 70px;
  width: 270px;
  text-align: center;
  font-size: 22px;
  align-self: flex-start;
  font-weight: 400;
  margin: 0;
}

.trending-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.trending-title {
  font-size: 1.2em;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.trending-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.trending-article-main-title {
  font-size: 1.3em;
}
.trending-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
}
.trending-article-main-title,
.article-main-title,
.trending-title,
.author,
.trending-author,
.tag-title {
  font-weight: bold;
}
.trending-date,
.description,
.date {
  opacity: 0.7;
}
.trending-author {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 7 px;
  vertical-align: middle;
  border-radius: 50%;
  width: 25px;
}
.articles {
  width: 40%;
}
.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 100px auto;
}
.author {
  margin-bottom: 20px;
}
.article-main-title {
  font-size: 20px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.article-img {
  cursor: pointer;

  vertical-align: middle;
  width: 200px;
  aspect-ratio: auto 200 / 134;
  height: 134px;
}
.bottom-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.star {
  cursor: pointer;
  vertical-align: middle;
}
.btn-topic {
  background-color: #dfd7d7;
  padding: 5px 10px;
  border-radius: 25px;
}
.bookmark {
  cursor: pointer;
  vertical-align: middle;
  opacity: 0.7;
  width: 25px;
  height: 25px;
}
.bookmark:hover {
  opacity: 1;
  font-weight: bold;
}

.sticky {
  position: sticky;
  right: 0;
  top: 100px;
  z-index: 1;
}
.cloud-tags {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.tags {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.tag-button {
  color: #000;
  background-color: #dfd7d7;
  padding: 5px 12px;
  border-radius: 25px;
}
.cloud-see-more {
  color: #1a8917;
  margin-bottom: 40px;
}
.extra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.extra-link {
  font-size: 1.1em;
}
