.profile{height: 200px;
width: 200px;color: white;}
.sfondo{background: rgb(24,24,24);
  background: linear-gradient(180deg, rgba(24,24,24,0.09287464985994398) 0%, rgba(0,0,0,0.11248249299719892) 40%);}
